@tailwind base;
@tailwind components;
@tailwind utilities;



/* tabla-personalizada.css */
.mi-tabla {
  border-collapse: collapse; /* Combina los bordes de las celdas adyacentes */
  width: 100%; /* Ancho de la tabla, ajusta según tus necesidades */
  border: 2px solid rgb(20, 19, 19); /* Estilo del borde de la tabla */
}

.mi-tabla th, .mi-tabla td {
  border: 1px solid rgb(14, 12, 12); /* Estilo del borde de las celdas */
  padding: 8px; /* Espaciado interno de las celdas, ajusta según tus necesidades */
  text-align: left; /* Alineación del texto en las celdas, ajusta según tus necesidades */
}


.logo {
  display: flex;
  align-items: flex-start; /* Alinea el logo en la parte superior */
}

.texto1 {
  font-size: 17px; /* Tamaño del texto */
  color: #030c04fd;
  text-align: left;
}

.texto2 {
  font-size: 40px; /* Tamaño del texto */
  color: #34A853; /* Color de texto personalizado */
  text-align: center; /* Alineación horizontal del texto */
}

.caja1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 50px;
}

.caja1 p, .caja1 nav {
  margin-bottom: 20px; /* Agrega margen inferior a los elementos que deseas separar */
}

nav a {
  text-decoration: none;
  color: #030C04;
  font-size: 15px;
  margin: 8px 8px 8px 0;
  padding: 10px 10px;
  display: inline-block;
}

nav a:not(:last-child) {
  margin-right: 20px; /* Agrega margen derecho a todos los elementos, excepto al último */
}

.acuerdos-title {
  color: black; /* Cambia el color del texto a negro */
}

.dropdown-menu-custom {
  background-color: #E5D22D; /* Color de fondo deseado */
  /* Otros estilos que desees aplicar */
}

.nav-link-text:hover {
  color: #34A853; /* Color verde en hover */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
}

.gray-cell {
  background-color: #7a1a1a; /* Color gris que desees */
  color: #fff; /* Color de texto para que sea legible */
  /* Otros estilos si es necesario */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.content-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  /* Altura para centrar la tabla más abajo */
}

.content-container {
  display: grid;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 80vh;
  padding: 10px;
  /* Altura para centrar la tabla más abajo */

}


.right-container {
  flex: 1;
  background-color: white;
  padding: 0.1px;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.defaultImage {
  max-width: 50%;
  max-height: 50%;
}
#navbar {
  width: 200px;
  background-color: rgb(128, 26, 0);
  float: left;
  height: 100%;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
}

h1,
h2 {
  text-align: center;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
}

#navbar li {
  padding: 10px;
  text-align: center;
}

#content {
  margin-left: 220px;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #9c9c9c;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
 
 
  overflow-y: auto;
}

.scrollable-table-container {
  overflow-x: auto;
  width: 100%;
}

.stacked-progress {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  position: relative;
}

.progress-bar {
  height: 100%;
  position: absolute;
  background-color: #3498db;
}

.bar1 {
  background-color: #e74c3c;
}

.bar2 {
  background-color: #2ecc71;
}

.bar3 {
  background-color: #f39c12;
}
/* global.css */

/* Gray background styles */
.gray-background {
  background-color: rgba(230, 230, 230, 1);
  border: 1px solid #000;
}

/* Navbar brand text */
.navbar-brand-text {
  color: rgba(3, 12, 4, 0.51);
}

/* Header text */
.header-text {
  color: #34A853;
  font-size: 35px;
  margin-bottom: 10px;
}

/* Navbar link text */
.nav-link-text {
  cursor: pointer;
  color:#000;
  margin-top: 37px;
}

/* Custom dropdown menu */
.custom-dropdown-menu {
  position: absolute;
  top: calc(100% - 40px);
  left: 100%;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border: 1px solid #edede9;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 10px;
}

.submenu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
}

.submenu-items .nav-link-text {
  margin: 2px 0;
}

.custom-search-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.custom-search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
}

.custom-search-input {
  font-size: 14px; /* Ajusta el tamaño de fuente del input según tus preferencias */
  padding: 6px 10px; /* Ajusta el espaciado interno del input según tus preferencias */
  width: 180px; /* Ajusta el ancho del input según tus preferencias */
}

.custom-footer-text {
  margin-left: auto;
  color: #888; /* Cambia el color del texto */
  /* Agrega otros estilos según tus preferencias */
}

/* Aumenta la especificidad para que tenga prioridad sobre Bootstrap */
/* Define el color amarillo personalizado */
.btn.btn-amarillo {
  background-color: #E5D22D;
  border-color: #E5D22D;
  color: #000; /* Color de texto en contraste */
}

.btn.btn-amarillo:hover {
  background-color: #FFD700; /* Cambia el color al pasar el mouse */
  border-color: #FFD700;
  color: #000;
}



